.projectHolderArea{
    margin-top:10px;
    display: flex;
}
.projectCreateMainContainer{
    /* height:50vh; */
    width:40%;
    border:1px dashed green;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
   
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
}

.projectCreateForm{

    display: flex;
    flex-direction: column;
    gap:20px;
    /* flex-direction: column; */

}
.techHolder{
    height:50px;
    border:1px dashed black;
    overflow-x: scroll;
}

.ProjectViewArea{
    display: flex;
    flex-direction: column;
    width: 40%;

    
}