.contentContainer {
  top: 0vh;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: scroll;
  transition: 0.3s all cubic-bezier(0.44, -0.02, 0, 0.57);
  padding-bottom: 100px;
  transform: translateY(100vh);
  visibility: hidden;
  transform-origin: right;
  opacity: 0;
  /* Hide scroll bar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contentContainer::-webkit-scrollbar {
  display: none;
}

.contentContainer.active {
  visibility: visible;
}

.contentContainerInner {
  min-height: 100vh;
  padding-bottom: 20vh;
  display: flex;
  margin: auto;
  text-align: left;
  margin-top: 50px;
  justify-content: center;
}
