.imageCommingSoon {
    width: 100%;
    height: 20% !important;
}

.certificationContainer {
    margin-top: 75px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.certificationContainerChildren {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.certificationWrapper {
    width: 66vmax;
    border: 7px solid rgba(67, 0, 0, 0.698);
    border-radius: 20px !important;



}

.certificationTitleStyle {
    color: rgba(67, 0, 0, 0.698)
}

.certificationImages {
    width: 57vmax;
    margin: 10px;
    border: 10px solid rgba(67, 0, 0, 0.698);
    border-radius: 20px !important;
}

@media only screen and (max-width:400px) {
    .certificationContainer {
        margin-top: 65px;
    }

    .certificationContainerChildren {
        margin-top: -5px;
    }

    .certificationWrapper {
        width: 50vmax;

    }

    .certificationImages {
        width: 40vmax;
    }

    .certificationTitleStyle {
        font-size: 20px;
    }

    .certificationImages {
        /* width: 57vmax; */
        margin: 10px;
        border: 7px solid rgba(67, 0, 0, 0.698);
        border-radius: 20px !important;
    }
}