.MainNavFooter{
    /* border:1px solid white; */
    width:100%;
    position: absolute;
    bottom:0px;
    /* flex-direction: c; */
    
}
.navigatorLables{
    /* display: flex; */
    /* width:80%; */
    /* justify-content: space-around; */
    width:80%;
    margin-left:75px;
    /* justify-content: center; */


}
.testMNF{
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;

    
}
.navLabelText{
    color:rgba(255, 255, 255, 0.304);
    font-weight: 600;
    font-size: 25px;
    /* margin-left: 100px; */
    /* justify-content: space-between; */
}
.navLabelTextColor{
    font-weight: 600;
    font-size: 25px;
    color:white;
}
.navLabelLine{
    font-weight: bold;
    color:rgba(255, 255, 255, 0.304);
    width:150px;
    height:5px;
    border-radius: 180px;
}
.navLabelLineColor{
    font-weight: bold;
    background-color:rgb(255, 255, 255);
    width:150px;
    height:5px;
    border-radius: 180px;
}

@media only screen and (max-width: 415px) {
    .MainNavFooter{
        background-color: rgba(0, 0, 0, 0.233);

        /* border:1px solid white; */
        /* width:100%; */
        position: absolute;
        bottom:0px;
        /* flex-direction: c; */
        
    }
    .navigatorLables{
        /* display: flex; */
        /* width:80%; */
        /* justify-content: space-around; */
        width:80%;
        margin-left:40px;
        /* justify-content: center; */
    
    
    }
    .testMNF{
        display: flex;
        /* justify-content: space-around; */
        justify-content: space-between;
    
        
    }
    .navLabelText{
        color:rgba(255, 255, 255, 0.304);
        font-weight: 600;
        font-size: 10px;
        /* margin-left: 100px; */
        /* justify-content: space-between; */
    }
    .navLabelTextColor{
        font-weight: 600;
        font-size: 10px;
        color:white;
    }
    .navLabelLine{
        font-weight: bold;
        color:rgba(255, 255, 255, 0.304);
        width:50px;
        height:5px;
        border-radius: 180px;
    }
    .navLabelLineColor{
        font-weight: bold;
        background-color:rgb(255, 255, 255);
        width:50px;
        height:5px;
        border-radius: 180px;
    }
}
