/* .ContactModalMainContainer {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  display: flex;

  /* justify-content: space-between; */
  /* justify-content: center ; */
  /* height: 100vh; */

.ContactModleBody {
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  background-color: white;
  height: 30rem;
  width: 60rem;
  max-width: 90vw;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.ContactModalBodyFalse {
  height: 500px;
  width: 100%;
}
.modalKingWrapper {
  left: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  padding: 0 30px;
}

.hedderLable {
  background-color: #410a1a;
  padding: 20px;
}
.headerTitle {
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding: 0;
}
.lableDecorator {
  justify-content: space-between;
}
.formLayoutDesign {
  margin-top: 60px;
  display: flex;
  flex: 2 1;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  width: 100%;
}

.inputLableDesign {
  color: black;
  width: 200px;
  margin-top: 30px;
  text-align: left;
  font-size: 12px;
  /* text-align: left; */
}
.textAreaContainer {
  /* border:2px solid black; */
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.inputLableTextArea {
  font-size: 12px;
  display: flex;
  left: 30px;
  position: absolute;
  color: black;
  /* width:200px; */
}
.inputTextArea {
  margin-top: 30px;
  background-color: #f7f7f7;
  width: 100%;

  /* flex-wrap: nowrap; */
}
.inputDesign {
  width: 100%;
  margin-right: 0;
  border: none;
  border-bottom: 1px solid #b8b8b8;
  outline: none;
}
.messageButtonWrapper {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  /* position: absolute;
    bottom:0px;
    right:10px;
    margin:10px;

justify-content: space-between;
width:200px; */
}
.messageStyleButtonCancel {
  border: 1px solid #c12854;
  color: #c12854;
  background-color: white;
  border-radius: 10px;
  /* margin-left:10px; */
  margin: 10px;
  width: 90px;
  height: 30px;
}
.messageStyleButtonSend {
  border: 1px solid #c12854;
  border-radius: 10px;
  color: white;
  width: 90px;
  height: 30px;

  background-color: #c12854;
}
/*320 600, 768, 992, 1200 */
@media only screen and (max-width: 1200px) {
  .ContactModleBody {
    width: 85vw;
  }
}

@media only screen and (max-width: 992px) {
  .ContactModleBody {
    margin-bottom: 100px;
    /* width:85vw; */
    /* margin-left:-35px; */
  }
}
@media only screen and (max-width: 768px) {
  .ContactModleBody {
    /* width:85vw; */
    /* margin-left:-35px; */
  }
}

@media only screen and (max-width: 600px) {
  .ContactModleBody {
    /* width:85vw; */
    /* margin-left:-35px; */
  }
}
/* @media only screen and (max-width:320px){
  .educationSegment{
    width:85vw;
  }
  .ExperienceSegment{
    width:85vw;
  }
} */
