.EdExMainContainer {
  /* border: 2px solid white; */
}

.EducationBanner {
  width: 390px;
  background-color: rgba(0, 0, 0, 0.372);
  /* height:60px; */
  display: flex;

  /* justify-content: center; */
  margin: 20px;
}
.ampersomething {
  margin: 0 5px;
  font-weight: 100;
}
.EdTextHolder {
  margin-left: 10px;
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  height: 50px;
  width: 370px;
  position: relative;
  bottom: 20px;
}
.EducationBannerText2 {
  font-weight: 100;
}
.EducationBannerText1 .EducationBannerText2 .EducationBannerText3 {
  /* display: flex;
  justify-content: center; */
  /* border:1px solid white; */
  /* 
  padding:5px;
  margin-left:20px */
}
.educationSegment {
  /* border:1px solid white; */
  justify-content: space-between;
  display: flex;
  height: 30vh;
}
.segmentOne {
  height: auto;
  /* border:1px dashed black; */
  width: 30%;
  margin-left: 20px;
}
.segmentTwo {
  /* border:1px dashed black; */
  width: 50%;
}
.segmentTwo p h6 {
}
.schoolInfoHolder {
  padding: 2px;
  /* height: 30px; */
  padding: 10px;
  border-radius: 0px;
  width: auto;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.287);
}
.schoolInfoTitle {
  text-align: left;
  /* margin-bottom: -30px; */
  margin: 0;
  padding: 0;
}
.EducationYearText {
  font-weight: 100;
  margin: 0;
  line-height: 1;
}

.ExTextHolder {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 32vw;
}
.ExperienceSegment {
  position: relative;
  /* margin-bottom:100px; */
  bottom: 100px;
}
.segmentThree {
  height: auto;
  /* border:1px dashed black; */
  /* width:30%; */
  margin-left: 20px;
}
.workExpHolder {
  /* padding:1px; */
  margin: 0px;
  border-radius: 30px;
  width: fit-content;
  height: 50px;
  /* background-color: rgba(0, 0, 0, 0.155); */
}
.workInfoTitle {
  font-family: inter;
  /* text-shadow: black 10px 0 8px; */
  margin-left: 20px;
  text-align: left;
  margin-bottom: -20px;
}
.WorkSummery {
  font-family: Rajdhani;
  text-align: left;
  letter-spacing: 0.1rem;
  font-size: 14px;
  margin-left: 20px;
  font-weight: 100;
}

/* 600, 768, 992, 1200 */

@media only screen and (max-width:1200px){
  .educationSegment{
    width:85vw;
  }
  .ExperienceSegment{
    width:85vw;
  }
}
@media only screen and (max-width:992px){
  .educationSegment{
    width:85vw;
  }
  .ExperienceSegment{
    width:85vw;
  }
}
@media only screen and (max-width:768px){
  .educationSegment{
    width:85vw;
  }
  .ExperienceSegment{
    width:85vw;
  }
}
@media only screen and (max-width:600px){
  .educationSegment{
    width:85vw;
  }
  .ExperienceSegment{
    width:85vw;
  }
}
@media only screen and (max-width:320px){
  .educationSegment{
    width:85vw;
  }
  .ExperienceSegment{
    width:85vw;
  }
}