.projectMainHolder{
    border:1px dashed black;
    height:90vh;
    display: flex;
    gap:40px;
    
}
.mainProjectScroll{
    overflow-x: scroll;
}

.leftPMPComponent{
    border:1px dashed red;
    height:90vh;
    width:20%;

}
.pmpButtons{
    width:100%;
    margin-top:20px;
}

.rightPMPComponent{
    overflow-y: scroll;

    border:1px dashed blue;
    height:90vh;
    width:80%;

}
.myProjectCards{
    border:1px solid black;
    height:5vh;
    width:5vw;
}