.MainPageWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sideBarPositionWrapper {
  min-width: 400px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .sideBarPositionWrapper {
    width: 0px;
  }
  .MainPageWrapper {
    /* width: 100vw; */
    /* height: 100vh;
    display: flex;
    flex-direction: row; */
    margin-left: 220px;
  }
}
