.MainPageWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sideBarPositionWrapper {
  width: 400px;
}
@media only screen and (max-width: 1000px) {
  .sideBarPositionWrapper {
    width: 0px;
  }
}
