.contactInfoHolder {
    /* width: 60vmax; */
    /* margin-top: 20px;
    margin-bottom: 20px; */

    padding: 10px;
    display: flex;
    justify-content: center;


}

.contactWrapper {
    width: 60vmax;
    background-color: #2e2e2e !important;

    border: 7px solid rgba(67, 0, 0, 0.698);
    border-radius: 20px !important;
    margin: 10px;


}

.contactForm {
    padding: 5px;
    /* max-width: 800px; */

    /* margin: 0 auto; */

    /* background-color: #116466; */
    /* border-radius: 15px; */

}

.contactDesign {
    color: white;
}


.formGroup {
    margin-bottom: 20px;
    color: #fff;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type='email'],
textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type='submit'] {
    padding: 10px 20px;
    background-color: #2c3531;
    ;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media only screen and (max-width: 400px) {

    .contactInfoHolder {
        /* width: 60vmax; */

        display: flex;
        justify-content: center;


    }

    .contactWrapper {
        width: 60vmax;

    }
}