.skillInfoHolder {
    /* width: 60vmax; */
    /* margin-top: 20px;
    margin-bottom: 20px; */
    padding: 10px;
    display: flex;
    justify-content: center;



}

.skillWrapper {
    width: 60vmax;
    border: 7px solid rgba(67, 0, 0, 0.698);
    border-radius: 20px !important;


}

@keyframes identifier {}

.skillWrapper:hover {
    border: 7px solid rgb(67, 0, 0);
    border-radius: 20px !important;
}

.skillIcon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
}

.imageHolder {
    padding: 10px;
    width: 100px;
    border: 10px solid rgba(67, 0, 0, 0.698);
    border-radius: 15px;
    margin: 10px;

}



.imageDetailing {
    height: 100px;
}

@media only screen and (max-width: 400px) {

    .skillInfoHolder {
        /* width: 60vmax; */

        display: flex;
        justify-content: center;


    }

    /* .skillWrapper {
        width: 40vmax;

    } */

    .skillWrapper {
        width: 60vmax;

        border: 4px solid rgba(67, 0, 0, 0.698);
        border-radius: 20px !important;

    }

    .skillIcon {
        /* width: 20px;
        display: flex;
        flex-wrap: wrap; */
    }

    .imageHolder {
        padding: 10px;
        width: 100px;
        border: 7px solid rgba(130, 1, 1, 0.596);
        border-radius: 15px;
        margin: 10px;

    }



    .imageDetailing {
        height: 65px;
    }
}