html {
  
  /* scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin; */
}
.App {
  text-align: center;

  /* background-color: #116466; */
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  /* background-color: darkgray; */
  opacity: 50%;
  background-color: rgba(0, 0, 0, 0.826);
}

html::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(251, 2, 2, 0.747);
}

/* html {
  scrollbar-width: thin;
} */



/* apply background:linear-gradient */
html {
  background: #200122;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-color: #d1E8E2; */
  /* background: linear-gradient(to left, rgba(49, 49, 49, 0.316), rgba(72, 72, 72, 0.507) 100%, 50%, rgba(41, 41, 41, 0.593) 100%); */
  /* background-color: rgba(0, 0, 0, 0.826); */
  /* background-color: rgba(0, 0, 0, 0.582); */

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}